@import "assets/styles/colors";

.placeholder {
  min-height: 100vh;
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  font-family: "Verdana", sans-serif;
  font-size: 36px;
  color: $navy;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app {
  display: flex;
  min-height: 100vh;

  &__menu {
    flex-basis: 80px;
  }

  &__content {
    flex-grow: 1;
  }

  @media (max-width: 1020px) {
    flex-direction: column;

    &__menu {
      height: 50px;
    }
  }
}
